* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  background-image: url(https://res.cloudinary.com/dszkfnjwy/image/upload/v1712844218/fondoAhorcado_izocqz.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.cuerpo {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.642);
  border-radius: 10px;
}

#imagen {
  max-width: 100%;
  height: auto;
}

#palabra_a_adivinar {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 20px;
}

#resultado,
#jugar {
  font-size: 2.5em;
  margin-bottom: 20px;
}
#palabra_a_adivinar span {
  vertical-align: bottom;
  font-size: 2em;
  border-bottom: 2px solid black;
  width: 65px;
  height: 65px;
  text-align: center;
  margin-right: 7px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(162, 250, 169);
  gap: 5px;
}

#letras {
  margin-top: 20px;
}

#letras button {
  margin: 5px;
  padding: 10px;
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
  #resultado,
  #jugar {
    font-size: 1.5em;
  }
  #imagen {
    max-width: 60%;
    height: auto;
  }

  #palabra_a_adivinar {
    font-size: 1.2em;
  }

  #palabra_a_adivinar span {
    font-size: 25px;
    width: 35px;
    height: 35px;
  }
  #resultado {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
