* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
div {
  min-height: 70vh;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center;
  align-items: center; */
}
