footer {
  min-height: 10vh;
  background-color: rgba(54, 229, 242, 0.167);
  & .Paragraph {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 20px;
  }
}
