footer {
  min-height: 15vh;
  width: 100%;
  background-color: rgba(54, 229, 242, 0.167);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3px;
  & .Paragraph {
    text-align: center;
    height: 5vh;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & img {
    width: 4%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .Copyright {
    text-align: center;
    height: 5vh;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
