.container {
  /* max-width: 800px; */
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: var(--background-color);
  box-sizing: content-box;
  width: 36em;
  height: 36em;
  padding: 3.5em 3.5em;
  position: absolute;
  left: 35%;
  top: 25%;
  margin: auto;
  border-radius: 25px;
  box-shadow: 0 0 12px 20px rgba(137, 36, 36, 0.2);
}
.fondo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: url(https://res.cloudinary.com/dszkfnjwy/image/upload/v1712648992/pensarTresEnRaya_u2hn2f.gif);
  top: 130px;
  right: 0px;
}

.input-container {
  margin-bottom: 10px;
  font-size: 25px;
}

input {
  margin: 5px;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  gap: 2px;
  width: 244px;
  height: 244px;
  margin: 20px auto;
  border: 2px solid #333;
}

.cell {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
.btn {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  &:hover {
    transform: scale(0.9);
    -webkit-box-shadow: 1px -1px 12px 8px rgba(145, 29, 29, 1);
    -moz-box-shadow: 1px -1px 12px 8px rgba(145, 29, 29, 1);
    box-shadow: 1px -1px 12px 8px rgba(145, 29, 29, 1);
  }
}

.info-msg {
  display: none;
  margin-top: 10px;
}

.message {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: 22px;
}
.timer {
  display: flex;
  justify-content: center;
  font-size: 28px;
}
#info-btn {
  display: none; /* Oculta el botón de información */
}

/* ---------------------------responsive -------------------------------- */

@media (max-width: 913px) {
  .container {
    box-sizing: content-box;
    width: 40em;
    padding: 100px 3px 150px 3px;
    margin: 22px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-30%, -30%);
    left: 35%;
    top: 32%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
    background: rgb(234, 95, 95);
  }
  h1 {
    font-size: 50px;
  }
  .input-container {
    margin-bottom: 2px;
    font-size: 32px;
  }
  .btn {
    font-size: 24px;
  }
  .message {
    font-size: 30px;
  }

  .timer {
    font-size: 30px;
  }
  .fondo {
    background: url(https://res.cloudinary.com/dszkfnjwy/image/upload/v1712648992/pensarTresEnRaya_u2hn2f.gif);
    background-size: 20%;
    background-position-x: 50px;
  }
}

@media (max-width: 769px) {
  .container {
    box-sizing: content-box;
    width: 30em;
    padding: 100px 3px 105px 3px;
    margin: 22px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-30%, -30%);
    left: 35%;
    top: 32%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
    background: rgb(234, 95, 95);
  }
  h1 {
    font-size: 40px;
  }
  .input-container {
    margin-bottom: 2px;
    font-size: 28px;
  }
  .btn {
    font-size: 22px;
  }

  .fondo {
    background: url(https://res.cloudinary.com/dszkfnjwy/image/upload/v1712648992/pensarTresEnRaya_u2hn2f.gif);
    background-size: 45%;
    background-position-x: -120px;
  }
}

@media (max-width: 431px) {
  .container {
    box-sizing: content-box;
    width: 20em;
    padding: 70px 3px 35px 3px;
    margin: 22px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-30%, -30%);
    left: 30%;
    top: 32%;
    border-radius: 0px;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
    background: rgb(234, 95, 95);
  }
  h1 {
    font-size: 29px;
  }
  .input-container {
    margin-bottom: 2px;
    font-size: 22px;
  }

  .fondo {
    background: url(https://res.cloudinary.com/dszkfnjwy/image/upload/v1712648992/pensarTresEnRaya_u2hn2f.gif);
    background-size: 30%;
    background-position-x: -25px;
  }
}

@media (max-width: 415px) {
  .container {
    box-sizing: content-box;
    width: 20em;
    padding: 70px 3px 35px 3px;
    margin: 20px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-30%, -30%);
    left: 30%;
    top: 32%;
    border-radius: 0px;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
    background: rgb(234, 95, 95);
  }
  h1 {
    font-size: 26px;
  }
  .input-container {
    margin-bottom: 2px;
    font-size: 20px;
  }

  .fondo {
    background: url(https://res.cloudinary.com/dszkfnjwy/image/upload/v1712648992/pensarTresEnRaya_u2hn2f.gif);
    background-size: 30%;
    background-position-x: -20px;
  }
}

@media (max-width: 391px) {
  .container {
    box-sizing: content-box;
    width: 18em;
    padding: 30px 3px 10px 3px;
    margin: 40px;
    background-color: #ffffff62;
    position: absolute;
    transform: translate(-30%, -30%);
    left: 25%;
    top: 35%;
    border-radius: 0px;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
    background: rgb(234, 95, 95);
  }
  h1 {
    font-size: 27px;
  }
  .input-container {
    margin-bottom: 2px;
    font-size: 18px;
  }
  .fondo {
    background: url(https://res.cloudinary.com/dszkfnjwy/image/upload/v1712648992/pensarTresEnRaya_u2hn2f.gif);
    background-size: 30%;
    background-position-x: -8px;
  }
}

/* ---------IPHONE  SE --------- */
@media (max-width: 376px) {
  .container {
    box-sizing: content-box;
    width: 17.5em;
    padding: 55px 5px 10px 5px;
    margin: 42px;
    background-color: #ffffff62;
    position: absolute;
    transform: translate(-30%, -30%);
    left: 23.5%;
    top: 35%;
    border-radius: 0px;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
    background: rgb(234, 95, 95);
  }
  h1 {
    font-size: 25px;
  }
  .fondo {
    background: url(https://res.cloudinary.com/dszkfnjwy/image/upload/v1712648992/pensarTresEnRaya_u2hn2f.gif);
    background-size: 30%;
    background-position-x: -20px;
  }
}
